{% extends "pages/student_area/student_area.html" %}


{% block content_student %}
    <div class="search-students">
        <form class="search-student" action="{% url "search_student" %}" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        {% if results %}
        <h2>Search Results:</h2>
        <ul>
            {% for result in results %}
                <a href="{% url "edit_student" result.id %}"><li>{{ result }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
        
    </div>
{% endblock %}



