{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>alunos</title>
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/student_area.css' %}">
{% endblock %}

{% block content %}

    <div class="navbar">
        <div class="btn-logout">
            <a href= "{% url "logout" %}"><img src="{% static 'img/exit.png' %}"></a>
        </div>
    </div>


    <div class="options-students">
        <ul>
            <li class="{% if '/alunos/' == request.path %}class-option-selected{% else %}class-option{% endif %}"><a href="{% url "students" %}">Alunos</a></li>
            <li class="{% if '/alunos/cadastra_aluno' == request.path %}class-option-selected{% else %}class-option{% endif %}"><a href="{% url "register_student" %}">Cadastrar Aluno</a></li>
            <li class="{% if '/alunos/busca_aluno' == request.path %}class-option-selected{% else %}class-option{% endif %}"><a href="{% url "search_student" %}">Busca Aluno</a></li>
        </ul>
    </div>

    {% block content_student %}


    <div class="show-students">
        
        {% for aluno in alunos %}
            <div class="students-info">
                <a href="{% url 'edit_student' aluno.id %}">{{aluno.nome}} - {{aluno.matricula}}</a>
            </div>
            
        {% endfor %}
    </div>
    
    {% endblock %}

    <footer class="footer">
        <p> Created by Paulo Rodrigues </p>
    </footer>
    
{% endblock %}

{% block script %}
    <script src="{% static 'script/show_content_students.js' %}"></script>
{% endblock %}